version: "3.3"

services:
  postgres:
    image: postgres:12.5-alpine
    env_file:
      - .env
    ports:
      - 54320:5432
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro

  django:
    build: .
    command:
      - /bin/bash
      - -c
      - python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/app
    ports:
      - 8000:8000
    env_file:
      - .env
    depends_on:
      - postgres
